@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&family=Outfit:wght@300;400;600&family=Poppins:wght@200;300;500;600;700&family=Roboto:wght@700;900&family=Rubik:wght@400;500;700&display=swap');

:root{
    --main-color: #f73471;
    --black: #000;
    --light-color: #868e96;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
::selection{
    background: var(--main-color);
    color: #fff;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #fafafa;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 2rem 9%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--main-color);
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, .1);
}
.header .logo{
    font-size: 2.5rem;
    color:  #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.header .logo span{
    color: var(--main-color);
    text-transform: uppercase;
}
.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--main-color);
}
.header .icons div{
    font-size: 2.5rem;
    color: #222;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}
.header .icons div:hover{
    transform: rotate(180deg); 
    color: var(--main-color);
}
.header .icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #fff;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}
.header .icons a:hover{
    color: var(--main-color);
    background: #fff;
}
#menu-btn{
    display: none;
}
.active{
    padding: 2rem 9%;
    background: rgba(0, 0, 0, .9);
}
/*--------------- Home Section ---------------*/ 

.home{
    padding: 0%;
}
.home .home-slider .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}
.home .home-slider .box .content{
    text-align: center;
    max-width: 70rem;
}
.home .home-slider .box .content h3{
    font-size: 5rem;
    color:#fff;
    text-transform: uppercase;
    transition-delay: .2s;
}
.home .home-slider .box .content p{
    font-size: 1.7rem;
    color: #eee;
    padding: 1rem 0;
    transition-delay: .4s;
}
.home .home-slider .box .button .btn-1{
    background: var(--main-color);
    color: #fff;
    margin-right: .5rem;
}
.home .home-slider .box .button .btn-1:hover{
    background: #fff;
    color: var(--main-color);
}
.home .home-slider .box .button{
    transition-delay: .6s;
}
.home .home-slider .box .content > *{
    transform: translateY(2rem);
    opacity: 0;
}
.home .home-slider .swiper-slide-active .content > *{
    transform: translateY(0);
    opacity: 1;
}


































@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }
    .header .active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
    .header .icons{
        display: flex;
        justify-content: space-between;
    }

}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .header .icons a{
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}




