/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&family=Outfit:wght@300;400;600&family=Poppins:wght@200;300;500;600;700&family=Roboto:wght@700;900&family=Rubik:wght@400;500;700&display=swap');

:root{
    --main-color: #8083FF;
    --black: #000;
    --light-color: #868e96;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .2s linear;
}
::selection{
    background: var(--main-color);
    color: #fff;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: #fafafa;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}
section{
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    padding: 1.7rem 9%;
    background-size: cover !important;
    background-position: center !important;
}

.header , .home , .feature , .schedule{
    text-transform: capitalize;
}

.heading{
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    color: var(--main-color);
}

.btn{

    display: inline-block;
    padding: .8rem 3rem;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.2rem;
    border-radius: .5rem;
}
.btn:hover{
    background: var(--main-color);
    color: #fff;
}
.btn-slider{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.7rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0rem .1rem .5rem rgba(0, 0, 0, .1);
    z-index: 111111111;
}
.header .logo{
    font-size: 2.5rem;
    color:  #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.header .logo span{
    color: var(--main-color);
    text-transform: uppercase;
}
.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--main-color);
}
.header .icons div{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}
.header .icons div:hover{
    transform: rotate(180deg); 
    color: var(--main-color);
}
.header .icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #fff;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}
.header .icons a:hover{
    color: var(--main-color);
    background: #fff;
}
#menu-btn{
    display: none;
}
.active{
    padding: 1.4rem 9%;
    background: rgba(0, 0, 0, .9);
}
.user-avatar{
    width: 80%;
    height: auto;
}

.user-about{
    width: 40%;
    margin: 90px 0;
    padding: 20px;
    background-color: rgba(245, 245, 245, .7);
    filter: blur();
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
  .user-panel{
    width: 40%;
    margin: 90px 0;
    padding: 20px;
    background-color: rgba(245, 245, 245, .7);
    filter: blur();
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  .about{
    display: flex;
    justify-content: space-between;
  }
  .about input{
    display: inline;
  }
  .form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    color: var(--main-color);
    background: #fff;
  }


@media (max-width: 1000px) {
    .header{
        padding: 2rem;
    }
    .header .active{
        padding: 2rem;
    }
    
}

@media (max-width: 780px) {
    #menu-btn{
        display: inline-block;
    }
    h3{
        font-size: 1rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        border-top: .1rem solid #eee;
        clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    }
    .header .active{
        clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
    .header .icons{
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 560px) {
    .header .icons-header a{
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}